.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.pulse-icon {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%, 100% { opacity: 1 }
    50% { opacity: 0.7 }
}

@media (min-width: 768px) {
    .grid-flow-col {
        grid-flow: row !important;
    }
    .auto-cols-[minmax(300px,1fr)] {
        grid-auto-columns: auto !important;
    }
.pulse-icon {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

}
    
    
    @keyframes highlight {
  0% {
    width: 0%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0.8;
  }
}

.animate-highlight {
  animation: highlight 2s ease-out forwards;
  animation-delay: 0.5s; 
  width: 0%; 
}

